name: Run Pytest on Push

on:  
  push:  
    branches: [ main ]
  pull_request:  
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set Up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10.11"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install --force-reinstall "matplotlib==3.8.3"
        pip install pytest pytest-mpl
      
    - name: Ensure Test Results Directory Exists
      run: mkdir -p tests/mpl-results

    - name: Run Pytest
      run: pytest --mpl --mpl-results-path=tests/mpl-results -s --tb=short
      continue-on-error: true  # Allow next steps to run even if tests fail

    - name: Upload Test Images (Debugging)
      if: always()  # Uploads even if pytest fails
      uses: actions/upload-artifact@v4
      with:
        name: mpl-results
        path: tests/mpl-results/
        if-no-files-found: error  # Fail if no files are found
